body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.boton {
    background-color: red;
    color: white;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Efecto suave al cambiar color */
}

.boton:hover {
    background-color: green;
    /* Cambia el fondo a verde al pasar el ratón */
}