body {
    font-family: Arial, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.bloque {
    position: absolute;
    border: 2px solid black;
    color: rgb(0, 0, 0);
}

.bloque1 {
    background-color: rgba(255, 255, 255, 0.685);
    width: 500px;
    height: 100px;
    top: 200px;
    left: 70px;
    z-index: 80;
    padding-left: 10px;
    /* Alineado a la izquierda */
    display: flex;
    align-items: flex-start;
    /* Alineado arriba */
}

.bloque2 {
    background-color: rgba(144, 238, 144, 0.74);
    width: 400px;
    height: 500px;
    top: 130px;
    left: 120px;
    z-index: 40;
    position: relative;
    padding-left: 10px;
    /* Alineado a la izquierda */
}

.bloque3 {
    background-color: rgba(255, 200, 128, 0.582);
    width: 500px;
    height: 100px;
    top: 600px;
    left: 60px;
    z-index: 20;
    display: flex;
    align-items: flex-end;
    /* Alineado abajo */
    padding-left: 10px;
    /* Alineado a la izquierda */
}

.hijo {
    position: absolute;
    border: 1px solid black;
    text-align: left;
}

.hijo1 {
    background-color: rgba(52, 156, 224, 0.911);
    width: 350px;
    height: 60px;
    top: 180px;
    left: 20px;
    z-index: 90;
    padding-left: 10px;
    /* Alineado a la izquierda */
    display: flex;
    align-items: flex-start;
    /* Alineado arriba */
}

.hijo2 {
    background-color: rgba(128, 128, 128, 0.685);
    width: 180px;
    height: 380px;
    top: 50px;
    left: 170px;
    z-index: 30;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* Alineado abajo y a la derecha */
    padding-right: 10px;
}

.hijo3 {
    background-color: rgba(255, 192, 203, 0.808);
    width: 200px;
    height: 80px;
    top: 410px;
    left: 160px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* Alineado abajo y a la derecha */
    padding-right: 10px;
}