* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.contenedor {

	display: grid;
	grid-template-areas:
		"contenedor-conciertos banner"
		"contenedor-conciertos banner";
		grid-template-columns: (3fr 1fr);
		padding: 10px;
   
    gap: 10px;
	
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {

	display: grid;
    grid-template-areas:
        "card card card"
        "card card card";

	grid-template-columns: auto auto auto;
	padding: 10px;
   
    gap: 10px;
	
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 10px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}

.card .textos {
	height: 100%;
	
	
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	background-size: cover;
	background-position: center center;


}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

