.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  padding: 20px;
}